.header{
  margin-bottom: 92px;
  @include media-breakpoint-up(sm) {
    margin-bottom: 217px;
  }
  .headerBg {
    background-image: url('../images/bg_home_sm.svg');
    background-position: right;
    width: calc(100% - 40px);
    height: 245px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);  
    z-index: -1;
    transition: .25s;
    @include media-breakpoint-customize('min', '375px') {
      width: 334px;
    }
    @include media-breakpoint-up(sm) {
      background-image: url('../images/bg_home.svg');
      width: 100%;
      height: 100%;
    }
    @include media-breakpoint-up(lg) {
      width: 850px;
      height: 768px;
      top: 0;
      left: calc(100% - 850px);
      transform: none;
    }
  }
  .banner {
    padding-top: 88px;
  }
  .bannerBg {
    background-image: url('../images/home.svg');
    width: 100%;
    padding-bottom: 100%;
    margin: auto;
  }
}

.platform {
  &::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 0;
    background-image: url('../images/ball01.svg');
    background-size: cover;
    width: 49px;
    height: 126px;
    top: 16px;
    transform: rotate(180deg);
    transition: .25s;
    @include media-breakpoint-up(sm) {
      width: 78px;
      height: 204px;
      top: -25%;
    }
    @include media-breakpoint-up(md) {
      width: 108px;
      height: 282px;
      top: -50%;
    }
    @include media-breakpoint-up(lg) {
      width: 138px;
      height: 360px;
      top: -85%;
    }
  }
  .platformImg {
    width: 60px;
    height: 60px;
    @include media-breakpoint-up(sm) {
      width: 90px;
      height: 90px;
    }
  }
}

.serve {
  &::after {
    content: '';
    position: absolute;
    bottom: -45px;
    right: 0;
    width: 88px;
    height: 135px;
    background-image: url('../images/ball02.svg');
    background-size: cover;
    z-index: -1;
    transition: .25s;
    @include media-breakpoint-up(sm) {
      width: 130px;
      height: 194px;
    }
    @include media-breakpoint-up(md) {
      width: 170px;
      height: 252px;
      bottom: -10%;
    }
    @include media-breakpoint-up(lg) {
      width: 210px;
      height: 310px;
      bottom: -35%;
    }
  }
}

.description {
  .descriptionImg {
    width: 86px;
    height: 86px;
    box-shadow: 0px 2px 10px #00000014;
  }
}

.evaluation {
  &::before {
    content: '';
    position: absolute;
    top: 36px;
    left: 0;
    background-image: url('../images/ball03.svg');
    background-size: cover;
    width: 77px;
    height: 150px;
    transition: .25s;
    z-index: -1;
    transform: rotate(180deg);
    @include media-breakpoint-up(md) {
      width: 150px;
      left: 48px;
      transform: rotate(0deg);
    }
  }
  .evaluationImg {
    top: -54px;
    left: 32px;
    width: 80px;
    height: 80px;
  }
}

@each $key, $val in $star-num {
  .star-#{$key} {
    @include multiBg2(1, $key);
    background-repeat: no-repeat;
    width: nth($star-num2, $key) + 24px;
  }
}
