.bgCover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgContain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}